{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "standard",
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "settings": {
    "react": {
      "version": "16.0"
    }
  }
}
